.app {

}

.app-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
}

.app-column-1 {
  grid-column: 1;
  grid-row: 1;
}

.app-column-2 {
  grid-column: 2;
  grid-row: 1;
}